<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Boys Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Boys Blog</a></h1>
    </header>
    {% for post in posts %}
    <article>
      <time>published: {{ post.published_at}}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text }}</p>
    </article>
    {% endfor %}
  </body>
</html>
