{% extends "blogs/base.html" %}
{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if  post.is_published %}
                    <time class="date">{{post.published_at}}</time>
                {% else%}
                    <a class="btn btn-secondary" href="{% url 'blogs:post_publish' pk=post.pk %}">
                        <i class="fa fa-paper-plane"></i> Publish</a>
                {% endif%}
                <a class="btn btn-secondary" href="{% url 'blogs:post_edit' pk=post.pk %}">
                    <i class="fa fa-edit"></i>
                </a>
                {% if user == post.author %}
                    <a class="btn btn-danger" href="{% url 'blogs:post_delete' pk=post.pk %}">
                        <i class="fa fa-trash"></i>
                    </a>
                {% endif %}

            {% endif %}
        </aside>
        <h2 class="post-title">{{post.title }}</h2>
        <p class="post-text">{{post.text|linebreaksbr}}</p>
    </article>

    <hr>
    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <div class="comment">
                {% if user == post.author  %}
                    <div>
                        <a class="text-danger" href="{% url 'blogs:comment_delete' pk=comment.pk %}"><i class="fa fa-trash"></i> Delete</a>
                        {% if not comment.is_approved %}
                            <a class="text-success" href="{% url 'blogs:comment_approve' pk=comment.pk %}"><i class="fa fa-check"></i> Approve</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="date">{{comment.created_at}}</div>
                <span class="fa fa-user-circle"></span> <span>commenter: {{ comment.author }}</span>
                <p>{{comment.text|linebreaks}}</p>
            </div>

        {% endfor %}
    {% else %}
        <p>No comments yet</p>
    {% endif %}
    <a class="btn btn-success" href="{% url 'blogs:post_comment' pk=post.pk %}"><i class="fa fa-comment"></i> Add comment</a>
{% endblock content %}
